# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages
mobile/pubspec.lock
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/debug/
mobile/android/app/release/
mobile/android/app/profile/
mobile/ios/.symlinks/
mobile/ios/Pods/
mobile/ios/Runner.xcworkspace/xcshareddata/
mobile/ios/Flutter/flutter_export_environment.sh

# Arduino
firmware/**/*.hex
firmware/**/*.elf
firmware/**/*.map

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
